{% extends "base.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='style_home.css') }}">
{% endblock %}


{% block body %}
    <div class="weather-container">
        <h2>Weather Prediction for JFK Airport</h2>
        <p>Enter a date to get the weather prediction:</p>

        <form action="/predict" method="post" class="weather-form">
            <label for="date">Date Format (YYYY-MM-DD):</label>
            <input type="text" id="date" name="date" min="1970-01-01" 
            required placeholder="YYYY-MM-DD" autocomplete="off">
            <button type="submit" class="submit-button">Predict</button>
        </form>
    </div>
{% endblock %}
